{% extends 'base.html' %}

{% block title %}
    Members
{% endblock title %}

{% block content %}
    <div class='container'>
        <h2 class="display-2 mt-3 text-center">Our amazing team
            <i class="fas fa-user-friends"></i>
        </h2>
        <hr class="mb-4 w-75" style="border: 2px solid #000680; background-color: #000680;">
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            INCHARGES
            <!--<i class="fas fa-map-marked-alt" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-50 mb-5 mt-0 hr-color">
        <div class="row row-cols-1 row-cols-md-3 justify-content-md-center">
            {% for faculty in faculties.all %}
                <div class="col-md-4 align-self-center">
                    <div class="profile-card">
                        <div class="profile-img">
                            <img src="{{ faculty.Image.url }}" alt="Team Image"/>
                        </div>
                        <div class="profile-content">
                            <h2 class="title">{{ faculty.Name }}
                                <span>{{ faculty.Designation }}</span>
                            </h2>
                            <ul class="social-link">
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="{{ faculty.Linkedin }}" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {#  PRESIDENT  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            PRESIDENT
            <!--<i class="fas fa-crown" cstyle="color: #333333;"></i>-->
        </h1>
        <hr class="w-50 mb-5 mt-0 hr-color">
        {% include 'committie/president.html' %}

        {#  VICE PRESIDENT  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            VICE PRESIDENT
            <!--<i class="fas fa-hand-holding-medical" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-50 mb-5 mt-0 hr-color">
        {% include 'committie/vice_president.html' %}

        <!--{#  SECRETARY  #}-->
        <!--<h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">-->
        <!--    THE HARD WORKERS-->
        <!--    <i class="fab fa-phoenix-framework" style="color: #333333;"></i>-->
        <!--</h1>-->
        <!--<hr class="w-75 mb-5 mt-0 hr-color">-->
        <!--{% include 'committie/secretary.html' %}-->
        <!--{% include 'committie/joint_secretary.html' %}-->

        <!--{#  SPONSORSHIP  #}-->
        <!--<h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">-->
        <!--    THE DEAL BREAKERS-->
        <!--    <i class="fas fa-handshake" style="color: #333333;"></i>-->
        <!--</h1>-->
        <!--<hr class="w-75 mb-5 mt-0 hr-color">-->
        <!--{% include 'committie/sponsorship.html' %}-->
        <!--{% include 'committie/joint_sponsorship.html' %}-->

        {#  PR  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            DIGITAL MEDIA MANAGERS
            <!--<i class="fas fa-star" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-75 mb-5 mt-0 hr-color">
        {% include 'committie/PR.html' %}
        {% include 'committie/joint_pr.html' %}

        {#  ORGANIZING  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            EVENT MANAGERS
            <!--<i class="fas fa-chess-knight" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-50 mb-5 mt-0 hr-color">
        {% include 'committie/organizing.html' %}
        {% include 'committie/joint_organizing.html' %}

        {#  TECHNICAL  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            WEB MASTERS
            <!--<i class="fas fa-brain" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-50 mb-5 mt-0 hr-color">
        {% include 'committie/technical.html' %}
        {% include 'committie/joint_technical.html' %}

        {#  CREATIVE  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            GRAPHIC DESIGNERS
            <!--<i class="fas fa-palette" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-75 mb-5 mt-0 hr-color">
        {% include 'committie/creative.html' %}
        {% include 'committie/joint_creative.html' %}

        {#  MAGAZINE  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            CONTENT WRITERS
            <!--<i class="fas fa-pen-fancy" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-75 mb-5 mt-0 hr-color">
        {% include 'committie/magazine.html' %}
        {% include 'committie/joint_magazine.html' %}

        {#  TREASURER  #}
        <h1 class="display-3 mt-4 mb-2 text-center" style="color: #333333;">
            TREASURER
            <!--<i class="fas fa-coins" style="color: #333333;"></i>-->
        </h1>
        <hr class="w-50 mb-5 mt-0 hr-color">
        {% include 'committie/treasurer.html' %}
        {% include 'committie/joint_treasurer.html' %}
    </div>
    <style>
        .hr-color {
            background-color: #333333;
            border: 2px solid #333333;
        }

        .profile-card {
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
            box-shadow: 0 2px 3px #93e8fa;
        }

        .profile-card:hover .profile-img img {
            transform: scale(1.2);
        }

        .profile-card .profile-img img {
            width: 100%;
            height: auto;
            transition: transform 1s;
        }

        .profile-card .profile-content::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 40%;
            border: 3px solid #93e8fa;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            transform: scale(1, 1);
            transition: all 0.50s linear;
        }

        .profile-card .profile-content::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 40%;
            border: 3px solid #93e8fa;
            border-left: 3px solid transparent;
            border-top: 3px solid transparent;
            transition: all 0.50s linear;

        }

        .profile-card:hover .profile-content:before {
            top: 20px;
            left: 20px;
        }

        .profile-card:hover .profile-content:after {
            bottom: 20px;
            right: 20px;
        }

        .profile-card .profile-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 50% 4%;
            text-align: center;

        }

        .profile-card .profile-content:hover {
            background-color: rgba(0, 0, 128, 0.7);
        }

        .profile-card .profile-content .title {
            font-size: 24px;
            color: #93e8fa;
            opacity: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            transform: translateY(-100px);
            transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
        }

        .profile-card:hover .title {
            opacity: 1;
            transform: translateY(0);
        }

        .profile-card:hover .title::after {
            content: "";
            display: block;
            width: 50%;
            margin: 10px auto;
            border-bottom: 2px solid #93e8fa;
        }

        .profile-card .profile-content .title > span {
            display: block;
            margin: 5px 0;
            font-size: 18px;
            text-transform: capitalize;
        }

        .profile-card .profile-content .social-link {
            margin: 20px 0;
            padding: 0;
            opacity: 0;
            transform: translateY(100px);
            transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
        }

        .profile-card:hover .social-link {
            opacity: 1;
            transform: translateY(0);
        }

        .profile-card .profile-content .social-link li {
            display: inline-flex;
            list-style: none;
            margin: 0 4px;
        }

        .profile-card .profile-content .social-link li a {
            color: #333;
            width: 30px;
            height: 25px;
            line-height: 24px;
            text-align: center;
            border-radius: 5px;
            background-color: #fff;
        }

    </style>
{% endblock content %}